body, table {
	font-family: sans-serif;
	font-size: 12px;
}
table {
	border:2px solid #77f;
}

th {
	border-bottom: 1px solid #aaa;
	background-color: #eef;
}

label {
	width: 100px;
	display: block;
	float:left;
}
.element {
	height:24px;
}
.menubar {
	position:static;
	background-color: #aac;
	padding:4px;
	border:1px solid #ccf;
	margin-bottom:2px;
	background-image: -moz-linear-gradient(100% 100% 90deg, #2F2727, #1a82f7);
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#1a82f7), to(#2F2727));
	-moz-border-radius: 5px;
	border-radius: 5px;
}
td {
	text-align:center;
}